<div class="main-container">
    <div class="table-header">
        <button mat-button class="create-button" (click)="createAccommodation()">
          <mat-icon class="create-icon">add</mat-icon>
        </button>
    </div>
    <div class="table-body">
        <table mat-table [dataSource]="accommodations" class="mat-elevation-z8">

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let a"> {{a.id}} </td>
            </ng-container>
          
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let a"> {{a.name}} </td>
            </ng-container>
          
            <ng-container matColumnDef="location">
              <th mat-header-cell *matHeaderCellDef> Location </th>
              <td mat-cell *matCellDef="let a"> {{a.location}} </td>
            </ng-container>
          
            <ng-container matColumnDef="benefits">
              <th mat-header-cell *matHeaderCellDef> Benefits </th>
              <td mat-cell *matCellDef="let a"> {{a.benefits}} </td>
            </ng-container>

            <ng-container matColumnDef="photos">
                <th mat-header-cell *matHeaderCellDef> Photos </th>
                <td mat-cell *matCellDef="let a"> {{a.photos}} </td>
            </ng-container>

            <ng-container matColumnDef="minGuest">
                <th mat-header-cell *matHeaderCellDef> Min Guest </th>
                <td mat-cell *matCellDef="let a"> {{a.minGuest}} </td>
            </ng-container>

            <ng-container matColumnDef="maxGuest">
              <th mat-header-cell *matHeaderCellDef> Max Guest </th>
              <td mat-cell *matCellDef="let a"> {{a.maxGuest}} </td>
            </ng-container>

            <ng-container matColumnDef="defineDates">
              <th mat-header-cell *matHeaderCellDef> Define Dates </th>
              <td mat-cell *matCellDef="let a"> 
                <button mat-raised-button (click)="defineDates(a.id)">Dates</button> 
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
</div>
